<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://USERNAME.github.io/strbooks/thumbnail.png">
  <meta property="og:title" content="STRBooks">
  <meta property="og:description" content="Website baca buku modern">
  <title>STBooks - Dashboard</title>
  <link rel="icon" href="../asset/img/logo.png">

</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Storage Books</a></li>
      </ul>
    </nav>
  </header>
</body>

</html>